@font-face {
    font-family: 'PresicavRg';
    src: url('PresicavRg-Bold.eot');
    src: local('PresicavRg-Bold'),
        url('PresicavRg-Bold.eot?#iefix') format('embedded-opentype'),
        url('PresicavRg-Bold.woff2') format('woff2'),
        url('PresicavRg-Bold.woff') format('woff'),
        url('PresicavRg-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PresicavLt';
    src: url('PresicavLt-Regular.eot');
    src: local('PresicavLt-Regular'),
        url('PresicavLt-Regular.eot?#iefix') format('embedded-opentype'),
        url('PresicavLt-Regular.woff2') format('woff2'),
        url('PresicavLt-Regular.woff') format('woff'),
        url('PresicavLt-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PresicavHv';
    src: url('PresicavHv-Regular.eot');
    src: local('PresicavHv-Regular'),
        url('PresicavHv-Regular.eot?#iefix') format('embedded-opentype'),
        url('PresicavHv-Regular.woff2') format('woff2'),
        url('PresicavHv-Regular.woff') format('woff'),
        url('PresicavHv-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PresicavXl';
    src: url('PresicavXl-Regular.eot');
    src: local('PresicavXl-Regular'),
        url('PresicavXl-Regular.eot?#iefix') format('embedded-opentype'),
        url('PresicavXl-Regular.woff2') format('woff2'),
        url('PresicavXl-Regular.woff') format('woff'),
        url('PresicavXl-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PresicavUl';
    src: url('PresicavUl-Regular.eot');
    src: local('PresicavUl-Regular'),
        url('PresicavUl-Regular.eot?#iefix') format('embedded-opentype'),
        url('PresicavUl-Regular.woff2') format('woff2'),
        url('PresicavUl-Regular.woff') format('woff'),
        url('PresicavUl-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PresicavRg';
    src: url('PresicavRg-Regular.eot');
    src: local('PresicavRg-Regular'),
        url('PresicavRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('PresicavRg-Regular.woff2') format('woff2'),
        url('PresicavRg-Regular.woff') format('woff'),
        url('PresicavRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

